<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
  </tr>

  <% events.each do |event| %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.description %></td>
      <td><%= event.date %></td>
    </tr>
  <% end %>
</table>
