<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Date</th>
  </tr>

  <% events.each do |event| %>
    <% button_text = "Attended" if event.attendees.include?(current_user) %>
    <tr>
      <td><%= link_to event.name, event %></td>
      <td><%= event.description %></td>
      <td><%= event.date %></td>
      <td><%= button_to (button_text || "Attend"), attendances_path(event_id: event.id),
              disabled: (button_text ? true : false) %></td>
    </tr>
  <% end %>
</table>
