<h1>Hi!, This is where all of your events will be listed</h1>

<%= link_to "Create Event", new_event_path %>

<h2>Upcoming Events</h2>
<%= render partial: "list", locals: { events: @events.upcoming } %>

<h2>Past Events</h2>
<%= render partial: "list", locals: { events: @events.past } %>
